{% extends '../base.html' %}

{% block body %}
<div class="container-fluid mt-1">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'kitchen:dashboard' %}" style="text-decoration: none;"><i
                        class="fa fa-home"></i> Dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'kitchen:category' %}"
                    style="text-decoration: none;"><i class="fa fa-list-alt"></i> Department</a></li>
            <li class="breadcrumb-item active" aria-current="page"><i class="fa fa-info-circle"></i> {{ category.title }}</li>
            <li class="breadcrumb-item"><a href="{% url 'index' %}" style="text-decoration: none;"><i
                        class="fa fa-sign-out"></i> Logout</a></li>
        </ol>
    </nav>

    {% if category %}
    <div style="text-align: center;">
        <a href="{% url 'kitchen:update_category' category.id%}" style="color: white; text-decoration: none;">
            <button class="btn btn-success" style="margin-bottom: 30px;">
                <i class="fa fa-plus" aria-hidden="true"></i> Update Department
            </button>
        </a>
        <a href="{% url 'kitchen:add_course' category.id %}" style="color: white; text-decoration: none;">
            <button class="btn btn-danger" style="margin-bottom: 30px;">
                <i class="fa fa-plus" aria-hidden="true"></i> Add Course
            </button>
        </a>
    </div>

    <div class="container text-center">
        <h2><em style="color: rgb(28, 79, 121);">{{ category.title }}</em> Details</h2>
        <hr style="width: 50vw">
        
        <h5 style="padding: 15px;">Number of Courses: <em
                style="color: rgb(28, 79, 121);">{{ category.course_set.all.count}}</em></h5>
        <div class="row" style="display: flex; justify-content: center;">
            {% for course in category.course_set.all %}
            <div class="col-sm-3 mr-1 mb-1" style="border: 1px solid rgb(206, 199, 199); border-radius: 5px;">
                <a href="{% url 'kitchen:course_details' course.id %}">
                    <p style="padding-top: 15px">{{ course.title }} (<em>{{ course.topic_set.all.count }} topics</em>)</p>
                </a>
            </div>
            {% endfor %}
        </div>
        <h5 style="padding: 15px;">Department Description:</h5> <em
            style="color: rgb(28, 79, 121);">{{ category.description }}</em>
    </div>
    {% else %}
    <p>How did you get here without an ID</p>
    {% endif %}
</div>
{% endblock %}