{% extends '../base.html' %}

{% block body %}
<div class="container-fluid mt-1">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <!-- <li class="breadcrumb-item"><a href="{% url 'kitchen:dashboard' %}">Dashboard</a></li> -->
            <li class="breadcrumb-item"><a href="{% url 'kitchen:dashboard' %}"
                    style="text-decoration: none;"><i class="fa fa-home"></i> Dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="page"><i class="fa fa-list-alt"></i> Department</li>
            <li class="breadcrumb-item"><a href="{% url 'index' %}" style="text-decoration: none;"><i class="fa fa-sign-out"></i> Logout</a></li>
        </ol>
    </nav>
    <div class="mt-5">
        {% if categories.count > 0 %}
        <div style="text-align: center;">
            <a href="{% url 'kitchen:add_category' %}" style="color: white; text-decoration: none;">
                <button class="btn btn-success" style="margin-bottom: 30px;">
                    <i class="fa fa-plus" aria-hidden="true"></i> Add Department
                </button>
            </a>
        </div>
        <div class="container text-center">
            <div class="row d-flex flex-row justify-content-center">
                {% for category in categories %}
                <div class="col-sm-3 mt-2 mr-2" style="border: 1px solid rgb(199, 192, 192); border-radius: 5px; padding: 15px;">
                        <a href="{% url 'kitchen:category_details' category.id %}">
                        <div>
                            <h6 class="mt-3">{{ category.title }}</h6>
                            {% if category.course_set.all.count > 1 %}
                            <em>{{ category.course_set.all.count }} courses</em> 
                            {% else %}
                            <em>{{ category.course_set.all.count }} course</em> 
                            {% endif %}
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% else %}
    <div class="text-center" style="margin-bottom: 10vh; margin-top: 20vh">
        <div class="container">
            <a href="{% url 'kitchen:add_category' %}" style="text-decoration: none;">
                <div class="card" style="margin-top: 100px; height: 40vh; background-color: #0071ad; color: white;">
                    <div class="card-body">
                        <h5 class="card-title" style="margin-top: 15vh;">
                            <i class="fa fa-warning" aria-hidden="true" style="font-size: 30px;"></i>
                            Empty Category List
                        </h5>
                    </div>
                </div>
            </a>
        </div>
        <hr style="width: 50vw">
        <h6>Click to Add</h6>
    </div>
    {% endif %}
</div>
</div>
{% endblock %}