{% extends '../base.html' %}

{% block body %}
<div class="container-fluid mt-1">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'kitchen:dashboard' %}" style="text-decoration: none;"><i
                        class="fa fa-home"></i> Dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'kitchen:category' %}"
                    style="text-decoration: none;"><i class="fa fa-home"></i> Department</a></li>
                    <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'kitchen:category_details' course.category.id %}"
                        style="text-decoration: none;"><i class="fa fa-book"></i> {{ course.category }}</a></li>
            <li class="breadcrumb-item active" aria-current="page"><i class="fa fa-list-alt"></i> {{ course.title }}</li>
            <li class="breadcrumb-item"><a href="{% url 'index' %}" style="text-decoration: none;"><i
                        class="fa fa-sign-out"></i> Logout</a></li>
        </ol>
    </nav>

    {% if course %}
    <div style="text-align: center;">
        <a href="{% url 'kitchen:update_course' course.id %}" style="color: white; text-decoration: none;">
            <button class="btn btn-success" style="margin-bottom: 30px;">
                <i class="fa fa-plus" aria-hidden="true"></i> Update Course
            </button>
        </a>
        <a href="{% url 'kitchen:add_content' course.id %}" style="color: white; text-decoration: none;">
            <button class="btn btn-warning" style="margin-bottom: 30px;">
                <i class="fa fa-plus" aria-hidden="true"></i> Add Content
            </button>
        </a>
    </div>

    <div class="container text-center">
        <h2><em style="color: rgb(28, 79, 121);">{{ course.title }}</em> Details</h2>
        <hr style="width: 50vw">
        <h5 style="padding: 15px;">Number of Items: <em
                style="color: rgb(28, 79, 121);">{{ course.topic_set.all.count}}</em></h5>
        <div class="row" style="display: flex; justify-content: center;">
            {% for topic in topics %}
            <div class="col-sm-3 mr-1 mb-1" style="border: 1px solid rgb(206, 199, 199); border-radius: 5px;">
                <a href="{% url 'kitchen:update_content' course.id topic.id %}">
                    <p style="padding: 10px">{{ topic.title }}</p>
                </a>
            </div>
            {% endfor %}
        </div>
        <h5 style="padding: 15px;">Course Code:</h5> <em style="color: rgb(28, 79, 121);">{{ course.code }}</em>
        <h5 style="padding: 15px;">Course Description:</h5> <em style="color: rgb(28, 79, 121);">{{ course.description }}</em>
    </div>
    {% else %}
    <p>How did you get here without an ID</p>
    {% endif %}
</div>
{% endblock %}