{% extends '../base.html' %}

{% block body %}
<div class="container-fluid mt-1">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <!-- <li class="breadcrumb-item"><a href="{% url 'kitchen:dashboard' %}">Dashboard</a></li> -->
            <li class="breadcrumb-item"><a href="{% url 'kitchen:dashboard' %}"
                    style="text-decoration: none;"><i class="fa fa-home"></i> Dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="page"><i class="fa fa-comments"></i> Topics</li>
            <li class="breadcrumb-item"><a href="{% url 'index' %}" style="text-decoration: none;"><i class="fa fa-sign-out"></i> Logout</a></li>
        </ol>
    </nav>
    <div class="mt-5">
        {% if topics.count > 0 %}
        <div style="text-align: center;">
            <a href="{% url 'kitchen:add_topic' %}" style="color: white; text-decoration: none;">
                <button class="btn btn-success" style="margin-bottom: 30px;">
                    <i class="fa fa-plus" aria-hidden="true"></i> Add Topic
                </button>
            </a>
        </div>
        <div class="container text-center">
            <div class="row d-flex flex-row justify-content-center">
                {% for topic in topics %}
                <div class="col-sm-5 mt-2 mr-2">
                    <div class="list-group">
                        <a href="{% url 'kitchen:update_topic' topic.id %}" class="list-group-item" style="text-decoration: none; color: black">
                            <h6><i class="fa fa-header"></i> Title: {{ topic.course }}</h6>
                            <h6><i class="fa fa-list-alt"></i> Category: {{ topic.title }}</h6>
                            <h6><i class="fa fa-book"></i> Description: {{ topic.description }}</h6>
                            <h6><i class="fa fa-calendar"></i> Date Published: {{ topic.pub_date }}</h6>
                        </a>
                      </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% else %}
    <div class="text-center" style="margin-bottom: 10vh; margin-top: 20vh">
        <div class="container">
            <a href="{% url 'kitchen:add_topic' %}" style="text-decoration: none;">
                <div class="card" style="margin-top: 100px; height: 40vh; background-color: #0071ad; color: white;">
                    <div class="card-body">
                        <h5 class="card-title" style="margin-top: 15vh;">
                            <i class="fa fa-warning" aria-hidden="true" style="font-size: 30px;"></i>
                            Empty Topic List
                        </h5>
                    </div>
                </div>
            </a>
        </div>
        <hr style="width: 50vw">
        <h6>Click to Add</h6>
    </div>
    {% endif %}
</div>
</div>
{% endblock %}